<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scan</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <form action="/login/Admin/back" method="get">
      <div>
        <img src="<%=qr%>" alt="qrcode" />
      </div>
      <div class="button">
        <input type="submit" value="Back" />
      </div>
    </form>
    <script>
      // setInterval(function () {
      //   location.reload();
      // }, 7000);
    </script>
  </body>
</html>
